<!-- Navigation -->
<nav class="navbar navbar-inverse xnavbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- a class="navbar-brand" href="{{ site.baseurl }}">Ninoshka</a -->
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Home</a>
        </li>
        <li class="dropdown">
          <a href="{{ site.baseurl }}/collections/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Collections <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/collections/">All</a></li>
            <li><a href="{{ site.baseurl }}/collections/womens-wear/">Women&apos;s Wear</a></li>
            <li><a href="{{ site.baseurl }}/collections/mens-wear/">Men&apos;s Wear</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Women's Wear</li>
            <li><a href="{{ site.baseurl }}/collections/ebony-ivory/">Ebony and Ivory</a></li>
            <li><a href="{{ site.baseurl }}/collections/ikatara/">Ika&apos;tara</a></li>
            <li><a href="{{ site.baseurl }}/collections/patchwork/">Patchwork</a></li>
            <li><a href="{{ site.baseurl }}/collections/stretching-to-the-truth/">Stretching To The Truth</a></li>
            <li><a href="{{ site.baseurl }}/collections/the-freedom-collection/">The Freedom Collection</a></li>
            <li><a href="{{ site.baseurl }}/collections/live-and-let-dye/">Live and Let Dye</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Men&apos;s Wear</li>
            <li><a href="{{ site.baseurl }}/collections/summer-song/">Summer Song</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ site.baseurl }}/brand-philosophy/">Brand Philosophy</a>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Designer Profile <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/designer-profile/">Designer Profile</a></li>
            <li><a href="{{ site.baseurl }}/designer-profile/#awards">Awards</a></li>
            <li><a href="{{ site.baseurl }}/testimonials/">Testimonials</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ site.baseurl }}/press/">Press</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/stores/">Stores</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/contact/">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>