---
layout: collection
category: collection

title: The Freedom Collection &middot A fashion collection
h1: The Freedom Collection
excerpt: "Presenting a collection of organic cotton knit garments dyed in colors derived from nature."

image: /freedom/freedom-banner.jpg
permalink: /collections/the-freedom-collection/

collectiontext: '<p class="main-p">Presenting a collection made of Malkha- The freedom fabric. Malkha is pure cotton cloth made directly from raw cotton in the village close to cotton fields. Malkha fabric is soft, it breathes, absorbs, holds color, and reflects its handmade heritage in its texture. The colors of Malkha are natural or non-toxic. The yellow is pomegranate rind with harda; a touch of kasimi turns it grey-green and Catechu heartwood makes brown.</p><p class="main-p">Here is a collection of pure Malkha printed in unusual Kalamkari motifs. Simple yet elegant silhouettes allow the fabric to tell its own story.</p>'

photofolder: freedom
---

<div class="item active">
  <div class="row">
    {% include image.html 
      file = "NAD-TFC-01"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-TFC-02"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-TFC-03"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-TFC-04"
      folder = page.photofolder %}
  </div>
</div>
<div class="item">
  <div class="row">
    {% include image.html 
      file = "NAD-TFC-05"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-TFC-06"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-TFC-08"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-TFC-09"
      folder = page.photofolder %}
  </div>
</div>