---
layout: collection
category: collection
subcategory: mens

title: Summer Song &middot; Men&apos; Shirts &middot; A fashion collection
h1: Summer Song
excerpt: "Our Summer Song shirts are easy breezy and made of 100% organic cotton."

image: /summer/summer-song-banner.jpg
permalink: /collections/summer-song/

collectiontext: '<p class="main-p">Our aim is to create fashion with a conscience. We only use natural fabrics which are dyed in organic dyes that are earth and skin friendly. Our Summer Song shirts are easy breezy and made of 100% organic cotton. They have interesting pocket, collar and yoke detailing which make them unique, stylish, yet sustainable.</p>'

photofolder: summer
---

<div class="item active">
  <div class="row">
    {% include image.html 
      file = "NAD-SSMS-43"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-SSMS-43-collar"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-SSMS-43-pocket"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-SSMS-45"
      folder = page.photofolder %}
  </div>
</div>
<div class="item">
  <div class="row">
    {% include image.html 
      file = "NAD-SSMS-45-collar"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-SSMS-45-pocket"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-SSMS-46"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-SSMS-47"
      folder = page.photofolder %}
  </div>
</div>
<div class="item">
  <div class="row">
    {% include image.html 
      file = "NAD-SSMS-48"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-SSMS-48-collar"
      folder = page.photofolder %}
  </div>
</div>