---
layout: collection
category: collection

title: Live And Let Dye &middot A fashion collection
h1: Live And Let Dye
excerpt: "A collection of garments dyed in organic dyes such as indigo, marigold, pomegranate and harda, using Itajime Shibori, a hand dyeing technique of Japanese origin."

image: /lald/lald-banner.jpg
permalink: /collections/live-and-let-dye/

collectiontext: '<p class="main-p">A collection of garments dyed in organic dyes such as indigo, marigold, pomegranate and harda, using <em>Itajime Shibori</em>, a hand dyeing technique of Japanese origin. The organic dyes used are suitable not only to the skin, but to the earth. The soft and light organic cotton voile used in the collection only adds to the comfort of the wearer.</p><p class="main-p">A juxtaposition of vibrant colors such as yellow, blue and shades of gray create fun and playful geometric patterns on the fabric. But that&apos;s not the only fun part. Most of the garments in this collection are reversible and can be worn in more than just one way.</p>'

photofolder: lald
---

<div class="item active">
  <div class="row">
    {% include image.html 
      file = "NAD-LALD-01"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-LALD-02"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-LALD-03"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-LALD-04"
      folder = page.photofolder %}
  </div>
</div>
<div class="item">
  <div class="row">
    {% include image.html 
      file = "NAD-LALD-05"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-LALD-06"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-LALD-07"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-LALD-08"
      folder = page.photofolder %}
  </div>
</div>