---
layout: collection
category: collection

title: Patchwork &middot A fashion collection
h1: Patchwork
excerpt: "This collection is created by patching up remnant pieces of fabric together. It is an extension of the Reduce-Reuse-Recycle philosophy."

image: /patchwork/patchwork-banner.jpg
permalink: /collections/patchwork/

collectionname: ebonyivory
collectiontext: '<p class="main-p">This collection is created by patching up remnant pieces of fabric together. It is an extension of the Reduce-Reuse-Recycle philosophy.</p><p class="main-p">All the fabric used in this collection is 100% cotton <strong>Khadi</strong>, which has been dyed in organic dyes suitable to the earth and skin. Khadi is an Indian textile wherein the yarn is hand spun and the fabric is handwoven.</p>'

photofolder: patchwork
---

<div class="item active">
  <div class="row">
    {% include image.html 
      file = "NAD-PTCH-01"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-PTCH-02"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-PTCH-03"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-PTCH-04"
      folder = page.photofolder %}
  </div>
</div>
<div class="item">
  <div class="row">
    {% include image.html 
      file = "NAD-PTCH-05"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-PTCH-06"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-PTCH-07"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-PTCH-08"
      folder = page.photofolder %}
  </div>
</div>