---
layout: collection
category: collection
subcategory: womens

title: Stretching To The Truth &middot; A fashion collection
h1: Stretching To The Truth
excerpt: "Presenting a collection of organic cotton knit garments dyed in colors derived from nature."

image: /stretching-truth/stretching-truth-banner-1.jpg
permalink: /collections/stretching-to-the-truth/

collectiontext: '<p class="main-p">Presenting a collection of organic cotton knit garments dyed in colors derived from nature, such as, indigo, marigold, lac and annatto. The pattern created by the traditional Japanese Arashi Shibori adds to the vibrancy of the colors.</p><p class="main-p">The soft cotton jersey fabric drapes beautifully in silhouettes inspired by the traditional Greek Chiton to create garments that are comfortable, flattering and fashionable.</p>'

photofolder: stretching-truth
---

<div class="item active">
  <div class="row">
    {% include image.html 
      file = "NAD-STTT-01"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-STTT-02"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-STTT-03"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-STTT-05"
      folder = page.photofolder %}
  </div>
</div>
<div class="item">
  <div class="row">
    {% include image.html 
      file = "NAD-STTT-06"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-STTT-08"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-STTT-09"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-STTT-11"
      folder = page.photofolder %}
  </div>
</div>