---
layout: collection
category: collection

title: Ikat&apos;ara &middot A fashion collection
h1: Ikat&apos;ara
excerpt: "Ikat&apos;ara is a collection created by the juxtaposition of Khadi and Ikat textile."

image: /ikatara/ikatara-banner.jpg
permalink: /collections/ikatara/

collectionname: ebonyivory
collectiontext: '<p class="main-p"><strong>Ikat’ara</strong> is a collection created by the juxtaposition of Khadi and Ikat textile. <strong>Khadi</strong> is an Indian textile wherein the yarn is hand-spun and the fabric is handwoven. <strong>Ikat</strong> is a handwoven fabric in which the yarn is first tied and dyed, before being woven into a single textile, to create the desired pattern.</p>'

photofolder: ikatara
---

<div class="item active">
  <div class="row">
    {% include image.html 
      file = "NAD-IKAT-07"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-IKAT-08"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-IKAT-09"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-IKAT-10"
      folder = page.photofolder %}
  </div>
</div>
<div class="item">
  <div class="row">
    {% include image.html 
      file = "NAD-IKAT-11"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-IKAT-07"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-IKAT-08"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-IKAT-09"
      folder = page.photofolder %}
  </div>
</div>