---
layout: collection
category: collection
subcategory: womens

title: Ebony &amp; Ivory &middot; A fashion collection
h1: Ebony &amp; Ivory
excerpt: "This is a collection of playful, bias-cut garments with unique fabric detailing. It is made of ebony and ivory colored cotton Khadi."

image: /ebony-ivory/ebony-ivory-banner.jpg
permalink: /collections/ebony-ivory/

collectiontext: '<p class="main-p">True ahimsa should mean a complete freedom from ill-will and anger and hate and an overflowing love for all. Khadi has been conceived as the foundation and the image of ahimsa. A real khadi-wearer will not utter an untruth. A real khadi-wearer will harbor no violence, no deceit, no impurity. <br><small>- Mahatma Gandhi</small></p><p class="main-p">This is a collection of playful, bias-cut garments with unique fabric detailing. It is made of ebony and ivory colored cotton Khadi, which is an Indian textile wherein the yarn is hand spun and the fabric hand woven. It has been dyed in organic dyes that are suitable to the earth and skin.</p>'

photofolder: ebony-ivory
---

<div class="item active">
  <div class="row">
    {% include image.html 
      file = "NAD-EAI-01"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-EAI-02"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-EAI-03"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-EAI-04"
      folder = page.photofolder %}
  </div>
</div>
<div class="item">
  <div class="row">
    {% include image.html 
      file = "NAD-EAI-05"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-EAI-06"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-EAI-07"
      folder = page.photofolder %}
    {% include image.html 
      file = "NAD-EAI-08"
      folder = page.photofolder %}
  </div>
</div>