---
layout: default

---

<div class="container-fluid no-padding">
  <div class="row row-no-padding main-div" style="background-color:#fff;">
    <div class="col-md-4 col-lg-push-8 col-md-push-8" style="text-align: center;">
      <div class="main-text-padding">
        <h1 style="font-size: 45px; font-weight: 100;">Women's Wear</h1>
        <p class="main-p">Ninoshka&apos;s silhouettes are playful, fluid and suitable to any age group. Keeping the reduse-reuse-recycle philosophy in mind, our garments are made to be worn reversible or in multiple ways. </p>
          <a href="/collections/womens-wear" class="btn btn-default" role="button">View collections</a>
      </div>
    </div>
    <div class="col-md-8 col-lg-pull-4 col-md-pull-4" style="min-height:650px; background-size: cover; background-position: center center;
  background-repeat: no-repeat; background-image: url('https://c2.staticflickr.com/6/5807/31194660515_a429326786_k.jpg');">
    </div>
  </div>
  <div class="row row-no-padding main-div" style="background-color:#fff;">
    <div class="col-md-4" style="text-align: center;">
      <div class="main-text-padding">
        <h1 style="font-size: 45px; font-weight: 100;">Men's Wear</h1>
        <p class="main-p">Our men&apos;s wear is the kind that makes heads turn. After all, why should girls have all the fun! Winner of the Indian Handloom Brand Award in 2016, for the best men&apos;s wear in Indo-western category, Ninoshka’s reversible jackets and shirts are made in organic cotton and handloom fabrics like Khadi and Ikat. Contrast pocket detailing and a flattering fit is what makes our shirts sought after.</p>
          <a href="javascript:void(0);" class="btn btn-default" role="button">Coming soon</a>
      </div>
    </div>
    <div class="col-md-8" style="min-height:650px; background-size: cover; background-position: center center;
  background-repeat: no-repeat; background-image: url('{{ site.baseurl }}/assets/images/ihb-award-winning-shirt.jpg');">
    </div>
  </div>
</div>