<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Ninoshka Alvares-Delaney">

  {% if page.title %}
    <title>{{ page.title }} | Ninoshka &middot; Fashion with a conscience</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}

  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico" >
  <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/custom.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/ekko-lightbox.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  {% include google-analytics.html %}
  {% include nav.html %}

  {{ content }}

  {% include footer.html %}

  <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/ekko-lightbox.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/custom.js"></script>
</body>
</html>